# Main server and web views
devpi-server >= 4
devpi-client
devpi-web

# Web skin
devpi-semantic-ui>=0.2.2

# LDAP plugin
ldap3 < 2
devpi-ldap

# Web extensions
devpi-findlinks

# Tools
devpi-cleaner
devpi-slack>=0.1.1
